main{
    display: flex;
    height: calc(100vh - 76px);
    width: 100%;
}

#aside-menu {
    background-color: #ffc600;;
    width: 200px;
    height: 100%;
    padding: 24px;

    ul {
        li {
            margin-bottom: 16px;

            a {
                color: #000;
                font-size: 20px;
                font-weight: 600;
            }
        }
    }
}